<nav class="navbar">
    <div class="brand">
        <img src="http://localhost:3000/Public/images/logo.png" alt="Logo" class="logo">
        <span class="name">MatchPoint Wear</span>
    </div>
    <p>Panel de administrador</p>
    <div class="names">
        <p>Joaquin Ferman</p>
        <p>Matias Pena</p>
    </div>
    <a href="/api/admin/productos/todas">Productos</a>
    <a href="/api/admin/usuarios">Usuarios</a>
    <a href="/api/admin/ventas">Ventas</a>
    <a href="http://localhost:5500/Parcial/frontend/index.html">Inicio user</a>
</nav>